<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="img">Enter image path</label>
        <input type="text" name="path">
        {% comment %} <input class="file-upload-input" type="file" name="img"> {% endcomment %}
        <button type="submit">Submit</button>
    </form>
    {% if ans %}
        <p>
            {{ ans }}
        </p>
    {% endif %}
</body>
</html>